<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.UserMapper">

    <insert id="createUser">
        INSERT INTO users(account_id, password, nickname) VALUES(#{account_id}, #{password}, #{nickname})
    </insert>

    <select id="getUserByAccountId" parameterType="String" resultType="domain.User">
        SELECT * FROM users where account_id = #{account_id}
    </select>
</mapper>